.main-header {
    // max-width: 90%;
    margin: 15px auto;
    background-color: rgb(81, 105, 105);

    nav {
        height: 52px;

        a {
            color: $clr1;
            text-decoration: none;
            padding: 10px;

            &:not(:last-of-type) {
                // margin-inline-end: 58px;
                margin: 0 20px;
            }

            &:last-child {
                margin-left: 20px;
                padding-right: 0;
            }

            &.active {
                background-color: $clr1;
                color: $clr2;
            }

            &:hover {
                background-color: rgba(76, 106, 76, 0.291);
            }
        }
    }
}